src/proxy/launch.sh
src/proxy/test.bin

.DS_Store
*~
dist
*.dmg
arduino-build
tools/strings.pickle
doc/build
AppDir
*.AppImage
appimage.yml
appimage-builder-cache
installer.nsi
Setup-dsremap-*.exe
__pycache__
src/ext/build
src/ext/vmwrapper*.so
src/ext/vmwrapper*.pyd
res/resources.qrc
src/dsrlib/resources.py
src/ext/src/arduino/dsremap/VM.o
src/proxy/build
venv

