.DS_Store
build
dist
*.dmg
arduino-build
tools/strings.pickle
doc/build
AppDir
*.AppImage
appimage.yml
installer.nsi
Setup-dsremap-*.exe
__pycache__
src/ext/build
src/ext/vmwrapper*.so
src/ext/vmwrapper*.pyd
res/resources.qrc
src/dsrlib/resources.py
src/dsremap/messages.h
src/dsremap/opcodes.h
src/dsremap/version.h
src/ext/src/dsremap/VM.o
