<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">DSRemap service on %h</name>
  <service>
    <type>_http._tcp</type>
    <port>8000</port>
    <domain-name>local</domain-name>
  </service>
</service-group>

